.banner{
	background: url(../images/about-banner.png);
	background-position: 75% 50%;
	background-size: cover;
	height: 400px;
}
.left{
	position: absolute;
	top: -60px;
	width: 240px;
}
.left-con{
	display: block;
	height: 90px;
	background: #f2f2f2;
	line-height: 90px;
	text-align: center;
	color: #333;
	font-size: 18px;
}
.left-con:hover{
	background: #0370a8;
	color: #fff;
}
.left-1,.left-1:hover{
	background: #101012;
	color: #fff;
	height: 120px;
	line-height: 20px;
	padding-top: 10px;
}
.selected{
	background: #0370a8;
	color: #fff;
}
.right{
	float: right;
	width: calc(90% - 240px);
	margin-top: 20px;
	min-height: 500px;
	position: relative;
}
.right-p{
	position: absolute;
	right: 0;
}
.right-p a{
	color: #999;
	font-size: 15px;
}
.right-main{
	margin-top: 50px;
	margin-bottom: 100px;
}
.right-main p{
	font-size: 16px;
}
.about-img{
	width: 100%;
	margin-top: 16px;
	margin-bottom: 30px;
}
.fen-h3{
	font-size: 22px;
}
.fen-p{
	font-size: 18px;
	color: #999;
}
@media screen and (max-width: 992px){
	.left{
		width: 30%;
		font-size: 20px;
	}
	.right{
		width: 60%;
	}
	.small-h1{
		font-size:40px;
	}
}
@media screen and (max-width: 450px){
	.banner{
		height: 200px;
		margin-top: 70px;
	}
	.banner-main{
		position: absolute;
		top: 40px;
	}
	.left{
		display: none;
	}
	.right{
		width: 99%;
	}
	.right-p a{
		font-size: 12px;
	}
	.right h3{
		font-size: 18px;
		text-align: center;
	}
	.right-main{
		margin-top: 20px;
	}
	.right-main p{
		font-size: 12px;
	}
	.right-p{
		position: absolute;
		left: 0;
	}
}