/*关于我们  样式*/

.about img{
	width: 50%;
	float: left;
}
.about-right{
	width: 40%;
	margin-left: 50%;
	padding:5%;
}
.about-right button{
	width: 100px;
	height: 30px;
	color: #999;
	font-size: 0.9em;
	text-align: center;
	line-height: 30px;
	border: 1px solid #999;
	background: transparent;
	float: right;
	margin-top: 5%;
}

/*案例展示  样式*/

.case{
	background: url(../images/case-b.png);
	background-position: center; 
	background-size: cover;
	text-align: center;
	padding-top: 120px;
	padding-bottom: 100px;
}
.case-con{
	width: 25%;
	float: left;
	padding: 2%;
	color: #fff;
}
.case-con img{
	width: 96%;
}
.case a,.mod-a{
	color: #0370a8;
	font-size: 1em;
	float: right;
	margin-top:40px;
}

/*新闻资讯  样式*/
.news{
	margin-top: 100px;
}
.notice{
	height: 650px;
	overflow: hidden;
}
.notice-tit ul{
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
}
.notice-tit ul li{
	float: left;
	width: 33.33%;	
	height: 50px;
	line-height: 50px;
	text-align: center;
	overflow: hidden;
	cursor:pointer;
	color: #808080;
	font-size: 1.2em;
}
.notice-con{
	width: 100%;
}
.notice-tit li.select{
	color: #0370a8;
	font-weight: bolder;
}
.mod{
	margin: 80px auto;
}
.mod-main{
	margin-bottom: 30px;
	width: 100%;
}
.mod-main-left{
	width: 30%;
	height: 100px;
	position: relative; 
	border: 1px solid #e6e6e6;
	float: left;
	margin-top: 20px;
}
.mod-main-left div{
	font-size: 3em;
	width:220px;
	height:60px;
	color: #000;
	position: absolute;
	right: -160px;
	top: 20px;
	z-index:10;
	background: #fff;
	line-height: 60px;
}
.time{
	color:#e6e6e6;
	font-size: 28px;
	margin-left: 20px;
}

.mod-main-right{
	float: right;
	width: 50%;
}
.mod-main-right h1{
	font-size: 1.1em;
	color: #000;
}
.mod-main-right p{
	font-size: 0.9em;
	color: #999;
}


/*合作伙伴  样式*/

.par{
	margin-top: 80px;
	text-align: center;
}
.par hr{
	margin-top: 0;
	border: 1px solid #e6e6e6;
}
.par .container img{
	width: 18%;
	margin-top: 20px;
	margin-bottom: 40px;
}

/*联系我们  样式*/

.contact{
	/*height: 530px;*/
	background: url(../images/contact-b.png) no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 70px;
	text-align: center;
	color: #333;
	padding-bottom: 80px;
}
.contact .container{
	margin-top: 42px;
}
.c-left{
	width: 45%;
	float: left;
	text-align: left;
}
.icon-all{
	width: 136px;
	margin-top: 30px;
}
.icon{
	float: left;
	width: 32px;
	height: 32px;
	background: #333;
	border-radius: 50%;
	padding-left: 7px;
	padding-top: 3px;
	margin-right: 20px;
}
.icon:hover{
	background: #0370a8;
}
.icon:nth-child(3){
	padding-left: 9px;
}
.contact form{
	float: right;
	width: 50%;
}
.contact form input,.contact form textarea,.contact form button{
	border: none;
	border-bottom: 1px solid #000;
	height: 50px;
	line-height: 50px;
	width: 100%;
	background: transparent;
	padding-left: 10px;
	color: #333;
	font-size: 1em;
}
.contact form textarea{
	height: 100px;
}
.contact form button{
	margin-top: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	background: #0370a8;
	color: #fff;
}

/*修改placeholder字体颜色*/
:-moz-placeholder{color:#333;}
::-moz-placeholder{color:#333;}
:-ms-input-placeholder{color:#333;}
::-webkit-input-placeholder{color:#333;}


/* 带缩略图的轮播 */
#container { 
	margin: 100px auto; 
	width: 100%; 
	height:auto; 
	display:block; 
	overflow:hidden; 
	text-align: left; 
	position: relative;
}
#slider { 
	padding: 1px 0 0 0 ;
	width: 80%;
	margin: 0 auto;
	overflow: visible; 
	position: relative;
	height: 278px;
}
#slider .sliderItem { 
	left: 0; 
	overflow: hidden; 
	width: 100%;
	position:  absolute; 
	top: 1px !important; 
	height: 278px; 
	padding-left: 40px;
	background: transparent; 
}
.inner{
	width: 50%;
	position: absolute;
	height: 160px;
	top: 50px;
	padding-top: 30px;
}
.slide-p1{
	font-size: 28px;
	color: #666;
	line-height: 20px;
}
.slide-p2{
	font-size: 18px;
	color: #999;
	margin-top: 50px;
}
#slider .sliderItem img { 
	z-index:  100; 
	margin-right: 5%;
	float: right; 
	width: 40%;
	/*position:  absolute; 
	top: 0px;*/
}
/*幻灯片的导航*/
#sliderNav { 
	width:80%; 
	height:200px; 
	overflow: hidden; 
	margin-left: 10%;
	margin-top: 30px;
	position: relative; 
	background: transparent; 
}
.sliderNav_left { 
	width:100%; 
	height:188px; 
	display:block; 
	float:left;
}
#sliderNav ul { 
	padding: 0px; 
	float: left; 
	margin: 3px 0px 0px 34px; 
	overflow: visible; 
	width: 100%;
	list-style-type: none; 
}
#sliderNav ul li { 
	float: left; 
	max-width: 130px;
	width: 24%;
	height: auto;
	margin-right: 1%;
	list-style-type: none; 
}
#sliderNav ul li a { 
	display: block; 
	margin: 0px 5px 0px 0px; 
	width: 100%; 
	text-indent: : -9999px; 
	height: 100px; 
	overflow:hidden; 
}
#sliderNav ul li.one a { 
	background: url(../images/z1.png) no-repeat center; 
	background-size: 80% 80%;
	outline: 1px solid #999;
}
#sliderNav ul li.one a.activeSlide,#sliderNav ul li.two a.activeSlide,#sliderNav ul li.three a.activeSlide,#sliderNav ul li.four a.activeSlide { 
	outline: 1px solid #0370a8;
}
#sliderNav ul li.one a:hover,#sliderNav ul li.two a:hover,#sliderNav ul li.three a:hover,#sliderNav ul li.four a:hover { 
	outline: 1px solid #0370a8;
}
#sliderNav ul li.two a { 
	background: url(../images/z2.png) no-repeat center; 
	background-size: 80% 80%;
	outline: 1px solid #999;
}
#sliderNav ul li.three a { 
	background: url(../images/z3.png) no-repeat center; 
	background-size: 80% 80%;
	outline: 1px solid #999;
}
#sliderNav ul li.four a { 
	background: url(../images/z4.png) no-repeat center; 
	background-size: 70% 80%;
	outline: 1px solid #999;
}
a.previous { 
	font-size: 8em;
	color: #9bb8cf;
	position: absolute; 
	top: 80px;
	left: 1%;  
	text-decoration: none;
}
a.next { 
	font-size: 8em;
	color: #9bb8cf;
	position: absolute; 
	top: 80px; 
	right:1%; 
	text-decoration: none;
}
@media screen and (max-width: 1200px){
	.sliderItem img{
		width: 20%;
	}
}
@media screen and (max-width: 991px){
	.about-right{
		padding-top: 0;
	}
	.case-con{
		width: 50%;
		padding: 2%;
		color: #fff;
		height: 500px;
	}
	.case a{
		margin-top: 0;
	}
	.case{
		padding-bottom: 50px;
	}
	.notice-tit ul{
		margin-left: 10%;
		margin-right: 10%;
	}
	.inner{
		width: 30%;
	}
	.sliderItem img{
		width: 10%;
		margin-top: 50px;
	}
	.mod-main-left{
		width: 20%;
	}
	.mod-main-left div{
		width:220px;
		right: -160px;
		top: 20px;
		background: #fff;
	}
}
@media screen and (max-width: 724px){
	#sliderNav ul li {
		width: 20%;
	}
	#sliderNav ul li a{
		height: 80px;
	}
}
@media screen and (max-width: 634px){
	.notice{
		height: 800px;
	}
	.case-con:nth-child(1),.case-con:nth-child(2){
		color: #999;
	}
}
@media screen and (max-width: 600px){
	.about .about-right{
		width: 100%;
		float: none;
		margin-left: 0;
		margin-bottom: 20px;
	}
	.about .index-img1{
		float: none;
		width: 100%;
	}
	.contact{
		padding-top: 20px;
	}
	.c-left{
		width: 100%;
		float: none;
		text-align: center;
	}
	.contact form{
		float: none;
		width: 100%;
	}
	.icon-all{
		margin: 20px auto;
	}
	.icon,.icon:nth-child(3){
		padding-left: 0;
	}
	#sliderNav {
		margin-top: 0;
	}
}
@media screen and (max-width: 530px){
	.mod-main-left{
		border-right: none;
	}
	.mod-main-left div{
		font-size: 26px;
		background: transparent;
	}
	.time{
		color:#e6e6e6;
		font-size: 20px;
		margin-left: 5px;
	}
	#container{
		margin-top: 30px;
		margin-bottom: 0;
	}
	.slide-p1{
		font-size: 22px;
	}
	.slide-p2{
		font-size: 16px;
		margin-top: 20px;
	}
	.sliderItem img{
		margin-top: 100px;
	}
	#sliderNav ul li a{
		height: 60px;
	}
}
@media screen and (max-width: 451px){
	.notice{
		height: 860px;
	}
	.mod-main-left div{
		position: absolute;
		left: 5px;
		top: 20px;
	}
	.sliderItem img{
		width: 10%;
	}
	.header-bottom{
		margin-top: 70px;
	}
	#container { 
		margin: 0 auto; 
	}
	#slider { 
		height: 208px;
	}
	#slider .sliderItem { 
		height: 208px;
	}
	.inner{
		height: 120px;
	}
}
@media screen and (max-width: 400px){
	.case-con{
		width: 100%;
		padding: 2%;
		color: #fff;
	}
	.mod-a{
		margin-top:10px;
	}
}
@media screen and (max-width: 364px){
	.notice{
		height: 880px;
	}
	.inner{
		width: 30%;
	}
	.slide-p1{
		font-size: 16px;
	}
	.slide-p2{
		font-size: 12px;
		margin-top: 20px;
	}
}
@media screen and (max-width: 321px){
	.notice{
		height:930px;
	}
}