body { font: normal 100% 'Microsoft YaHei'; }  
.banner{
	background: url(../images/news-banner.png);
	background-position: 75% center;
	background-size: cover;
	height: 400px;
}
.banner-main{
	position: absolute;
	right: 0;
	top: 120px;
	font-size: 2.2em;
	width: 420px;
	color: #333;
	margin-right: 10px;
	text-align: right;
}
.banner-main p{
	color: #666;
	font-size: 1.8em;
	margin-top: 15px;
	text-align: right;
}
.eng{
	font-size: 1.1em;
	color: #999;
}
.left{
	position: absolute;
	top: -60px;
	width: 240px;
}

.left-con{
	display: block;
	height: 90px;
	background: #f2f2f2;
	line-height: 90px;
	text-align: center;
	color: #333;
	font-size: 1.8em;
}
.left-con:hover{
	background: #0370a8;
	color: #fff;
}
.left-1,.left-1:hover{
	background: #101012;
	color: #fff;
	height: 120px;
	line-height: 20px;
	padding-top: 10px;
}
.selected{
	background: #0370a8;
	color: #fff;
}
.right{
	float: right;
	width: calc(90% - 240px);
	margin-top: 20px;
	min-height: 500px;
	position: relative;
}
.right-p a{
	color: #999;
	font-size: 14px;
}
.right-main-con{
	margin-top: 40px;
}
.right-main-con ul li{
	margin-bottom: 20px;
}
.li-a{
	color: #666;
	font-size: 16px;
}
.right-p1{
	width: 380px;
	margin: 50px auto;
	text-align: center;
}
.page{
	display: inline-block;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	outline: 1px solid #e5e5e5;
	margin-right: 10px;
	color: #999;
	font-size: 14px;
}
.page:last-child{
	margin-right: 0;
}
.page:hover{
	background: #0370a8;
	color: #fff;
}
.news-h3{
	margin-top: 30px;
}
@media screen and (max-width: 992px){
	.left{
		width: 30%;
	}
	.right{
		width: 60%;
	}
	.right-p1{
		width: 100%;
	}
	.right-main-con ul li p{
		font-size: 13px;
	}
	.right-main-con .li-a{
		font-size: 14px;
	}
}
@media screen and (max-width: 450px){
	.banner{
		height: 200px;
		margin-top: 70px;
	}
	.banner-main{
		position: absolute;
		top: 40px;
	}
	.left{
		display: none;
	}
	.right{
		width: 99%;
	}
	.right-p a{
		font-size: 12px;
	}
	.right h3{
		font-size: 18px;
		text-align: center;
	}
	.right-main-con{
		margin-top: 20px;
	}
	.right-p{
		position: absolute;
		left: 0;
	}
	.news-h3{
		margin-top: 50px;
	}
}